{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center page-header">Sentence Details</h1>

    <p class="text-center" id="mandarin_sentence" style="font-size: 200%">{{ sentence.mandarin }}</p>
    <p class="text-center">{{ sentence.english }}</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            var mandarinSentence = $('#mandarin_sentence');

            var text = mandarinSentence.text();
            var construct = '';
            var previousIndex = 1;
            {% for index in sentence.indexes %}
            if (previousIndex < {{ index.index }}) {
                construct += text.substr(previousIndex, {{ index.index }} - previousIndex);
            }
            var meaning = '';
            {% for word in index.words %}
                meaning += "<div><strong>[{{ word.pinyin }}]</strong> ";
                {% for meaning in word.meanings %}
                    meaning += "{{ meaning }}, ";
                {% endfor %}
                meaning = meaning.substr(0, meaning.length - 2);
                meaning += '</div>';
                tmp1 = "{{ word.simple }}";
            {% endfor %}

            tmp = '<a tabindex="0" data-trigger="focus" data-placement="bottom" role="button" data-toggle="popover" ' +
                    'data-content="' + meaning + '" data-html="true" class="word">' +
                    text.substr({{ index.index }}, tmp1.length) + "</a>";
            construct += tmp;

            previousIndex = {{ index.index }} + parseInt(tmp1.length);
            {% endfor %}
            if (previousIndex < text.length) {
                construct += text.substr(previousIndex);
            }

            mandarinSentence.html(construct);

            $('.word').popover();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        a.word {
            padding: 2px;
            color: black;
        }

        a.word:hover {
            cursor: pointer;
            text-decoration: none;
        }

        a.word:focus {
            text-decoration: none;
        }
    </style>
{% endblock %}