{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center page-header">Details</h1>

    <p id="mandarin_sentence" style="font-size: 200%">{{ sentence.mandarin }}</p>
    <p>English: {{ sentence.english }}</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            var mandarinSentence = $('#mandarin_sentence');
            var text = mandarinSentence.text();
            var construct = '';
            var previousIndex = 0;
            {% for index in sentence.indexes %}
            if (previousIndex < {{ index.index }}) {
                construct += text.substr(previousIndex, {{ index.index }} - previousIndex);
            }
            var meaning = '';
                {% for meaning in index.word.meanings %}
            meaning += "{{ meaning }}, ";
                {% endfor %}
            tmp1 = "{{ index.word.simple }}";
            tmp = '<span data-trigger="hover" data-placement="bottom" data-toggle="popover" ' +
                    'data-content="' + meaning + '" class="word" title="{{ index.word.pinyin }}">' +
                    text.substr({{ index.index }}, tmp1.length) + "</span>";
            construct += tmp;
            previousIndex = {{ index.index }} + parseInt(tmp1.length);
            {% endfor %}
            if (previousIndex < text.length) {
                construct += text.substr(previousIndex);
            }

            mandarinSentence.html(construct);

            $('.word').popover();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        span.word:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}