<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VocabCruncher{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-toggle.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="page-wrapper" class="container-fluid">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/select2.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-toggle.min.js') }}"></script>
            <script src="{{ asset('js/hanzi-writer.min.js') }}"></script>
        {% endblock %}
    </body>
</html>