{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center page-header">中文 Dictionary</h1>
    {% include 'general/search_bar.html.twig' with {formPath:'dictionary_index'} %}
    <br>
    <div class="row" style="height: 100%">
        <div class="col-md-4">
        {% for result in results %}
            <div class="dictionaryLine" onclick="showDetails('{{ result.id }}')">
                <span style="font-size: 150%; white-space: nowrap">{{ result.simple }}</span>
                <span style="white-space: nowrap">{{ result.pinyin }}</span>
                {% for meaning in result.meanings %}
                    <span class="meaning">{{ loop.index }}. {{ meaning }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        <div class="col-md-8" id="js-center-area">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        function showDetails(id) {
            var url = '{{ path('dictionary_details', {id: 'foobar'}) }}';
            url = url.replace('foobar', id);
            $.ajax(url).done(function(data) {
                $('#js-center-area').html(data);
            })
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        span.meaning {
            margin-right: 5px;
        }

        div.dictionaryLine {
            cursor: pointer;
            border-bottom: 1px solid gray;
        }

        div.dictionaryLine:hover {
            background-color: #eee;
        }
    </style>
{% endblock %}