{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center page-header">中文 Dictionary</h1>
    {% include 'general/search_bar.html.twig' with {formPath:'dictionary_index'} %}
    <br>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="text-center">Chinese</th>
            <th class="text-center">Pinyin</th>
            <th>Meaning</th>
        </tr>
        {% for result in results %}
            <tr>
                <td class="text-center">
                    <div style="font-size: 200%; white-space: nowrap">{{ result.simple }}</div>
                </td>
                <td class="text-center">
                    <div style="white-space: nowrap">{{ result.pinyin }}</div>
                </td>
                <td>
                    {% for meaning in result.meanings %}
                        <span class="meaning">{{ loop.index }}. {{ meaning }}</span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        span.meaning {
            margin-right: 5px;
        }
    </style>
{% endblock %}