{% for result in words %}
    <div class="dictionaryLine" onclick="showDetails(this, '{{ result.id }}')">
        <span style="font-size: 150%; white-space: nowrap">{{ result.simple }}</span>
        <span style="white-space: nowrap"><b>{{ result.pinyin }}</b></span><br>
        {% for meaning in result.meanings %}
            <span class="meaning">
                {% if loop.length > 1 %} <b>{{ loop.index }}</b> {% endif %} {{ meaning }}
            </span>
        {% endfor %}
    </div>
{% endfor %}